<div class="touch-responder" ng-swipe-left="gotoTimer()"></div>

<div id="registration" class="container">


	<div class="row">
		<div class="col-sm-5">
			<h1>{{ currentActivity }} Runner</h1>
			<form role="form">
				<div class="row">
					<div class="form-group col-sm-6">
						<label for="firstName">First Name</label>
						<input type="text" name="firstName" ng-model="runner.firstName" class="form-control input-lg">
					</div>
					<div class="form-group col-sm-6">
						<label for="lastName">Last Name</label>
						<input type="text" name="lastName" ng-model="runner.lastName" class="form-control input-lg">
					</div>

					<div class="form-group col-sm-6">
						<label for="city">City</label>
						<input type="text" name="city" ng-model="runner.city" class="form-control input-lg">
					</div>
					<div class="form-group col-sm-3">
						<label for="state">State</label>
						<input type="text" name="state" ng-model="runner.state" class="form-control input-lg" maxlength="2">
					</div>

					<div class="form-group col-sm-3">
						<label for="age">Age</label>
						<input type="text" name="age" ng-model="runner.age" class="form-control input-lg" maxlength="3">
					</div>

					<div class="form-group col-sm-4">
							<label>Gender</label>
						<div class="radio">
							<label><input type="radio" name="gender" ng-model="runner.gender" value="F"> Female</label>
						</div>
						<div class="radio">
							<label><input type="radio" name="gender" ng-model="runner.gender" value="M"> Male</label>
						</div>
					</div>

					<div class="form-group col-sm-4">
						<label>Race</label>
						<div class="radio">
							<label><input type="radio" name="race" ng-model="runner.race" value="5K"> 5K</label>
						</div>

						<div class="radio">
							<label><input type="radio" name="race" ng-model="runner.race" value="10K"> 10K</label>
						</div>
					</div>
					<div class="form-group col-sm-4">
						<label for="bib">Bib #</label>
						<input type="text" name="bib" ng-model="runner.bib" class="form-control input-lg">
					</div>

					<input type="hidden" ng-model="runner.id">

					<div class="col-sm-12 text-right">
						<button type="submit" class="btn btn-info btn-lg btn-block" ng-click="saveRunner()" >{{ saveCommand }}</button>
						<button type="submit" class="btn btn-danger btn-lg btn-block" ng-click="deleteRunner()" ng-show="isEditing">Remove Runner</button>
					</div>
				</div>
			</form>
		</div>
		<div class="col-sm-6 col-sm-offset-1">
			<h1>Registered Runners</h1>
			<p><input type="text" class="form-control input-lg" placeholder="Search..." ng-model="search"></p>
			<div class="runner" ng-repeat="runner in runners | filter:search:firstName" ng-click="loadRunner(runner.id)">
				{{ runner.firstName + ' ' + runner.lastName }}
			</div>
		</div>
	</div>
</div>